/* app css stylesheet */

html{
  font-family: "Oswald";
  background-color: BLACK;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  background-attachment: fixed;
  background-repeat:no-repeat;
  color:#333;
}
.contentleft__menu {
  list-style: none;
  margin-left: 30px;
  margin-bottom: 19em;
  padding: 0 0 0.5em;
  text-transform: uppercase;


  font-size:40px;


}

.content{

}
.content__generalview{

  width:60%;
  padding:20px 20px;
}

.content__left{
  background: -webkit-linear-gradient(to right, #36d1dc, #1ABC9C); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #36d1dc, #1ABC9C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width:310px;
  float:left;
  display:inline-block;
}


.home .name{
  font-size:50px;
}

.home p{
  font-size:29px;
}
.contentleft__menu li{
  margin-bottom:30px;
  font-size:40px;
}
.contentleft__menu li a,a:visited{
  color:white;
  outline:none;
  text-decoration:none;

}

blue{
  color:#3498db;
}

.home{
  font-size: 40px;
}

.contentleft__menu li a:hover{
  color:black;
}


.tabmenu__active a{

  color:black !important;



}

.content__generalview{
  margin-top:100px;
  display:inline-block;
}

.menu:before {

}

.menu:after {

}

.menu > li {
}

.contentleft__menu > li + li:before {

  padding-right: 0.3em;
}


.home{
  margin-left:30px;
}



.content__logoMBmobile{
  display:none;
}


.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:5px 15px 0px 15px;
  color:black;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.cross{
  background:none;
  position:absolute;
  top:0px;
  right:0;
  padding:13px 15px 0px 15px;
  color:black;
  border:0;
  font-size:3em;
  line-height:65px;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.hamburger,.cross{
  display:none;
}

@media screen and (max-width: 900px) {

  .home{
    font-size: 27px;

  }

  .content__generalview{
    width:50%;
  }
  .home p{
    font-size:22px;
  }

}
@media screen and (max-width: 700px) {
  .content__left{
    width:100%;
  }

  .content__logoMB{
    display:none;
    background: url("img/logoMB__mobile.png");
  }

  .content__logoMBmobile{
    display:block;
    height:100%;
    width:80%;
  }

  .contentleft__menu{
    display:none;
    margin-bottom:0px;
    margin-top:0px;

  }

  .contentleft__menu li{
    margin-bottom:0px;
    font-size:28px;
  }
  .hamburger,.cross{
    top:23px;
  }

  .content__generalview{
    margin-top:0px;
    width:100%;
  }


}